<h1>Classroom Info</h1>
<%= render 'classroom', {classroom: @classroom} %>
<% @classroom.students.each do |student| %>
	<p><%= render partial: 'students/student', locals: {student: student} %></p>
<% end %>
